In [ ]:
import pandas as pd

In [ ]:
!pip install koreanize-matplotlib

Collecting koreanize-matplotlib
  Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 17.4 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from koreanize-matplotlib) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)
Installing collected packages: koreanize-matplotlib
Successfully installed koreanize-matplotlib-0.1.1

In [ ]:
import koreanize_matplotlib

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
channel_1 = pd.read_excel('/content/인구통계_2022-01-16_2022-06-30.xlsx')
channel_2 = pd.read_excel('/content/인구통계_2022-07-01_2022-12-31.xlsx')
channel_3 = pd.read_excel('/content/인구통계_2023-01-01_2023-05-31.xlsx')

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

# 20220116-202206

In [ ]:
channel_1

,성별,나이,채널속성,채널그룹,채널명,고객수,유입수,페이지수,유입당 페이지수,결제수(마지막클릭),유입당 결제율(마지막클릭),결제금액(마지막클릭),유입당 결제금액(마지막클릭),결제수(+14일기여도추정),유입당 결제율(+14일기여도추정),결제금액(+14일기여도추정),유입당 결제금액(+14일기여도추정)
0,(알수없음),(알수없음),모바일,소셜,인스타그램,2342,7154,8051,1.125384,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000
1,남성,26~30,모바일,소셜,인스타그램,354,1341,1632,1.217002,17,0.012677,826000,615.958240,17.897740,0.013347,693194.240963,516.923371
2,남성,26~30,모바일,검색,네이버검색,206,1340,1622,1.210448,15,0.011194,581000,433.582090,17.436937,0.013013,714201.367973,532.986096
3,여성,26~30,모바일,소셜,인스타그램,396,1321,1668,1.262680,28,0.021196,851000,644.208933,31.974913,0.024205,946001.199173,716.125056
4,남성,26~30,모바일,웹사이트,웹사이트,230,1282,1627,1.269111,12,0.009360,649000,506.240250,10.936085,0.008530,684706.361916,534.092326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,남성,51~55,PC,쇼핑,네이버쇼핑-서비스,1,1,1,1.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000
417,남성,51~55,모바일,메신저,네이버톡톡,1,1,1,1.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000
418,남성,56~60,PC,소셜,유튜브,1,1,1,1.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000
419,남성,56~60,모바일,쇼핑,네이버페이,1,1,16,16.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000
420,남성,66~70,PC,쇼핑,네이버쇼핑-검색,1,1,4,4.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
channel_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397 entries, 1 to 420
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   성별                   397 non-null    object
 1   나이                   397 non-null    object
 2   채널속성                 397 non-null    object
 3   채널그룹                 397 non-null    object
 4   채널명                  397 non-null    object
 5   고객수                  397 non-null    int64
 6   유입수                  397 non-null    int64
 7   페이지수                 397 non-null    int64
 8   유입당 페이지수             397 non-null    float64
 9   결제수(마지막클릭)           397 non-null    int64
 10  유입당 결제율(마지막클릭)       397 non-null    float64
 11  결제금액(마지막클릭)          397 non-null    int64
 12  유입당 결제금액(마지막클릭)      397 non-null    float64
 13  결제수(+14일기여도추정)       397 non-null    float64
 14  유입당 결제율(+14일기여도추정)   397 non-null    float64
 15  결제금액(+14일기여도추정)      397 non-null    float64
 16  유입당 결제금액(+14일기여도추정)  397 non-null    float64
dtypes: float64(7), int64(5), object(5)
memory usage: 55.8+ KB

In [ ]:
channel_1 = channel_1[(channel_1['성별'] != '(알수없음)') & (channel_1['나이'] != '(알수없음)')]

In [ ]:
channel_1

,성별,나이,채널속성,채널그룹,채널명,고객수,유입수,페이지수,유입당 페이지수,결제수(마지막클릭),유입당 결제율(마지막클릭),결제금액(마지막클릭),유입당 결제금액(마지막클릭),결제수(+14일기여도추정),유입당 결제율(+14일기여도추정),결제금액(+14일기여도추정),유입당 결제금액(+14일기여도추정)
1,남성,26~30,모바일,소셜,인스타그램,354,1341,1632,1.217002,17,0.012677,826000,615.958240,17.897740,0.013347,6.931942e+05,516.923371
2,남성,26~30,모바일,검색,네이버검색,206,1340,1622,1.210448,15,0.011194,581000,433.582090,17.436937,0.013013,7.142014e+05,532.986096
3,여성,26~30,모바일,소셜,인스타그램,396,1321,1668,1.262680,28,0.021196,851000,644.208933,31.974913,0.024205,9.460012e+05,716.125056
4,남성,26~30,모바일,웹사이트,웹사이트,230,1282,1627,1.269111,12,0.009360,649000,506.240250,10.936085,0.008530,6.847064e+05,534.092326
5,남성,31~35,모바일,검색,네이버검색,208,1212,1625,1.340759,14,0.011551,921000,759.900990,13.965104,0.011522,1.012801e+06,835.644450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,남성,51~55,PC,쇼핑,네이버쇼핑-서비스,1,1,1,1.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
417,남성,51~55,모바일,메신저,네이버톡톡,1,1,1,1.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
418,남성,56~60,PC,소셜,유튜브,1,1,1,1.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
419,남성,56~60,모바일,쇼핑,네이버페이,1,1,16,16.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
420,남성,66~70,PC,쇼핑,네이버쇼핑-검색,1,1,4,4.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000

In [ ]:
# 성별과 나이로 그룹화하여 채널명에 해당하는 각 값들이 몇 회로 집계되었는지 피벗 테이블을 생성
channel_df1 = channel_1.pivot_table(index=['성별', '나이'], columns='채널명', values='고객수', aggfunc='sum', fill_value=0, margins=True)

channel_df1

채널명        구글검색  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버모바일메인-쇼핑  네이버쇼핑-검색  \
성별  나이
남성  11~13     0          0        0       0      2            0         0
    14~16     0          0        0       0      1            0         0
    17~19     0          0        2       0      2            0         0
    20~25     0          1       12       7    102            0        10
    26~30     5          0       42      15    251            0        43
    31~35     1          1       51       7    285            0        89
    36~40     2          1       49      12    248            0        79
    41~45     6          1       29       3    127            0        62
    46~50     2          0        9       1     58            1        38
    51~55     0          0        9       4     28            0        14
    56~60     0          0        7       0      9            0         3
    61~65     0          0        0       0      1            0         0
    66~70     0          0        1       0      0            0         1
    71+       1          0        0       0      1            0         2
여성  14~16     0          0        0       0      1            0         0
    17~19     0          1        0       0      3            0         0
    20~25     0          3       13       1     43            0         7
    26~30     1          1       47       8    154            1        28
    31~35     0          1       44       4    176            1        64
    36~40     0          0       28      10    147            2        48
    41~45     0          1       25       6     90            2        45
    46~50     0          0       14       3     53            0        26
    51~55     0          0        8       2     43            0        13
    56~60     0          0        2       0     18            0        13
    61~65     0          0        0       0      2            0         3
    66~70     0          0        0       0      1            0         3
    71+       0          0        0       0      1            0         1
All          18         11      392      83   1847            7       592

채널명        네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  트위터  페이스북  \
성별  나이
남성  11~13          0           0      0      0     0    0      0    0     0
    14~16          0           0      0      0     1    0      0    0     0
    17~19          1           1      0      0     1    1     17    0     0
    20~25         25          25      3     14   145   17    233    0     0
    26~30         26          73     13     79   296   36    426    0     0
    31~35         49          90     31    101   226   27    364    0     0
    36~40         43          87     10    116   169   23    243    0     0
    41~45         49          69      9     73    98   10    136    0     3
    46~50         24          24      0     37    32    8     49    0     1
    51~55          4          23      1      7    15    3     25    0     0
    56~60          0           3      0      1     6    1      7    0     0
    61~65          0           5      0      0     0    0      2    0     0
    66~70          0           0      0      0     0    0      0    0     0
    71+            0           0      0      0     0    0      2    0     0
여성  14~16          0           0      0      0     0    0      1    1     0
    17~19          0           1      1      5     2    0      6    0     0
    20~25          6          14      3     24    49    2    163    3     0
    26~30         42          93     14     83   146    7    431    2     0
    31~35         41         121      3    129   148   14    361    5     0
    36~40         44         102     11     74   101    8    322    4     0
    41~45         72          71      2     98    52    3    218    6     0
    46~50         28          44      2     60    36    4     97    1     0
    51~55          5          33      1     38    20    5     63    0     1
    56~60          2          15      0     12     5    0     19    0     0
    61~65          1           5      6      4     3    2     11    0     0
    66~70          0           0      0      0     5    0      8    0     0
    71+            0           2      0      0     0    0      1    0     0
All              462         901    110    955  1556  171   3205   22     5

채널명          All
성별  나이
남성  11~13      2
    14~16      2
    17~19     25
    20~25    594
    26~30   1305
    31~35   1322
    36~40   1082
    41~45    675
    46~50    284
    51~55    133
    56~60     37
    61~65      8
    66~70      2
    71+        6
여성  14~16      3
    17~19     19
    20~25    331
    26~30   1058
    31~35   1112
    36~40    901
    41~45    691
    46~50    368
    51~55    232
    56~60     86
    61~65     37
    66~70     17
    71+        5
All        10337

In [ ]:
channel_df1 = channel_1.pivot_table(index=['성별', '나이'], columns='채널명', values='유입수', aggfunc='sum', fill_value=0, margins=True)

channel_df1

채널명        구글검색  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버모바일메인-쇼핑  네이버쇼핑-검색  \
성별  나이
남성  11~13     0          0        0       0     16            0         0
    14~16     0          0        0       0      5            0         0
    17~19     0          0       10       0      2            0         0
    20~25     0          1       77       8    445            0        12
    26~30    16          0      169      31   1414            0        49
    31~35     3          2      179       8   1320            0       114
    36~40     3          5      156      14    935            0        92
    41~45    31          1       78       8    510            0        81
    46~50     3          0       25       1    248            1        50
    51~55     0          0       18       4     96            0        18
    56~60     0          0       39       0     25            0         9
    61~65     0          0        0       0      2            0         0
    66~70     0          0        6       0      0            0         1
    71+       2          0        0       0      3            0         2
여성  14~16     0          0        0       0      2            0         0
    17~19     0          5        0       0      8            0         0
    20~25     0         33       42       1    169            0         7
    26~30     1          2      161      11    816            1        30
    31~35     0          2      142       4    748            1        80
    36~40     0          0       66      14    675            3        61
    41~45     0          1       92       6    387            2        62
    46~50     0          0       57       4    278            0        31
    51~55     0          0       35       2    218            0        20
    56~60     0          0        3       0     61            0        19
    61~65     0          0        0       0      4            0         4
    66~70     0          0        0       0      1            0         4
    71+       0          0        0       0      3            0         1
All          59         52     1355     116   8391            8       747

채널명        네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  트위터  페이스북  \
성별  나이
남성  11~13          0           0      0      0     0    0      0    0     0
    14~16          0           0      0      0     2    0      0    0     0
    17~19          1           1      0      0     5    1     51    0     0
    20~25         87          28     12    124   704   28    921    0     0
    26~30        119          90     26    175  1369  132   1450    0     0
    31~35        151         111     66    220  1024   57   1254    0     0
    36~40        315         106     26    240   683  110    836    0     0
    41~45        117         103     17    125   411   17    503    0     4
    46~50         87          34      0     83   124   54    190    0     1
    51~55          4          35      1     22    90    3     82    0     0
    56~60          0           6      0      1    32    1     35    0     0
    61~65          0           8      0      0     0    0      2    0     0
    66~70          0           0      0      0     0    0      0    0     0
    71+            0           0      0      0     0    0      4    0     0
여성  14~16          0           0      0      0     0    0      1    1     0
    17~19          0           1      2      6     4    0      6    0     0
    20~25         11          19      8     59   243    6    454   10     0
    26~30         94         119     27    156   607   41   1370    9     0
    31~35        120         167      8    259   606   31   1215    7     0
    36~40        170         119     22    178   378   22   1070    5     0
    41~45        266         103      2    238   267    4    789   16     0
    46~50        115          59      4    162   179   12    378    1     0
    51~55          8          51      1     54   125   21    273    0     1
    56~60          7          28      0     20    20    0     88    0     0
    61~65          1           5     29      8     7    3    102    0     0
    66~70          0           0      0      0    35    0     46    0     0
    71+            0           2      0      0     0    0      3    0     0
All             1673        1195    251   2130  6915  543  11123   49     6

채널명          All
성별  나이
남성  11~13     16
    14~16      7
    17~19     71
    20~25   2447
    26~30   5040
    31~35   4509
    36~40   3521
    41~45   2006
    46~50    901
    51~55    373
    56~60    148
    61~65     12
    66~70      7
    71+       11
여성  14~16      4
    17~19     32
    20~25   1062
    26~30   3445
    31~35   3390
    36~40   2783
    41~45   2235
    46~50   1280
    51~55    809
    56~60    246
    61~65    163
    66~70     86
    71+        9
All        34613

In [ ]:
channel_df1 = channel_1.pivot_table(index=['성별', '나이'], columns='채널명', values='고객수', aggfunc='sum', fill_value=0)

channel_df1_percentage = channel_df1.div(channel_df1.sum(axis=1), axis=0) * 100

channel_df1_percentage = channel_df1_percentage.round(1)

channel_df1_percentage

채널명       구글검색  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버모바일메인-쇼핑  네이버쇼핑-검색  \
성별 나이
남성 11~13   0.0        0.0      0.0     0.0  100.0          0.0       0.0
   14~16   0.0        0.0      0.0     0.0   50.0          0.0       0.0
   17~19   0.0        0.0      8.0     0.0    8.0          0.0       0.0
   20~25   0.0        0.2      2.0     1.2   17.2          0.0       1.7
   26~30   0.4        0.0      3.2     1.1   19.2          0.0       3.3
   31~35   0.1        0.1      3.9     0.5   21.6          0.0       6.7
   36~40   0.2        0.1      4.5     1.1   22.9          0.0       7.3
   41~45   0.9        0.1      4.3     0.4   18.8          0.0       9.2
   46~50   0.7        0.0      3.2     0.4   20.4          0.4      13.4
   51~55   0.0        0.0      6.8     3.0   21.1          0.0      10.5
   56~60   0.0        0.0     18.9     0.0   24.3          0.0       8.1
   61~65   0.0        0.0      0.0     0.0   12.5          0.0       0.0
   66~70   0.0        0.0     50.0     0.0    0.0          0.0      50.0
   71+    16.7        0.0      0.0     0.0   16.7          0.0      33.3
여성 14~16   0.0        0.0      0.0     0.0   33.3          0.0       0.0
   17~19   0.0        5.3      0.0     0.0   15.8          0.0       0.0
   20~25   0.0        0.9      3.9     0.3   13.0          0.0       2.1
   26~30   0.1        0.1      4.4     0.8   14.6          0.1       2.6
   31~35   0.0        0.1      4.0     0.4   15.8          0.1       5.8
   36~40   0.0        0.0      3.1     1.1   16.3          0.2       5.3
   41~45   0.0        0.1      3.6     0.9   13.0          0.3       6.5
   46~50   0.0        0.0      3.8     0.8   14.4          0.0       7.1
   51~55   0.0        0.0      3.4     0.9   18.5          0.0       5.6
   56~60   0.0        0.0      2.3     0.0   20.9          0.0      15.1
   61~65   0.0        0.0      0.0     0.0    5.4          0.0       8.1
   66~70   0.0        0.0      0.0     0.0    5.9          0.0      17.6
   71+     0.0        0.0      0.0     0.0   20.0          0.0      20.0

채널명       네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램   트위터  페이스북
성별 나이
남성 11~13        0.0         0.0    0.0    0.0   0.0  0.0    0.0   0.0   0.0
   14~16        0.0         0.0    0.0    0.0  50.0  0.0    0.0   0.0   0.0
   17~19        4.0         4.0    0.0    0.0   4.0  4.0   68.0   0.0   0.0
   20~25        4.2         4.2    0.5    2.4  24.4  2.9   39.2   0.0   0.0
   26~30        2.0         5.6    1.0    6.1  22.7  2.8   32.6   0.0   0.0
   31~35        3.7         6.8    2.3    7.6  17.1  2.0   27.5   0.0   0.0
   36~40        4.0         8.0    0.9   10.7  15.6  2.1   22.5   0.0   0.0
   41~45        7.3        10.2    1.3   10.8  14.5  1.5   20.1   0.0   0.4
   46~50        8.5         8.5    0.0   13.0  11.3  2.8   17.3   0.0   0.4
   51~55        3.0        17.3    0.8    5.3  11.3  2.3   18.8   0.0   0.0
   56~60        0.0         8.1    0.0    2.7  16.2  2.7   18.9   0.0   0.0
   61~65        0.0        62.5    0.0    0.0   0.0  0.0   25.0   0.0   0.0
   66~70        0.0         0.0    0.0    0.0   0.0  0.0    0.0   0.0   0.0
   71+          0.0         0.0    0.0    0.0   0.0  0.0   33.3   0.0   0.0
여성 14~16        0.0         0.0    0.0    0.0   0.0  0.0   33.3  33.3   0.0
   17~19        0.0         5.3    5.3   26.3  10.5  0.0   31.6   0.0   0.0
   20~25        1.8         4.2    0.9    7.3  14.8  0.6   49.2   0.9   0.0
   26~30        4.0         8.8    1.3    7.8  13.8  0.7   40.7   0.2   0.0
   31~35        3.7        10.9    0.3   11.6  13.3  1.3   32.5   0.4   0.0
   36~40        4.9        11.3    1.2    8.2  11.2  0.9   35.7   0.4   0.0
   41~45       10.4        10.3    0.3   14.2   7.5  0.4   31.5   0.9   0.0
   46~50        7.6        12.0    0.5   16.3   9.8  1.1   26.4   0.3   0.0
   51~55        2.2        14.2    0.4   16.4   8.6  2.2   27.2   0.0   0.4
   56~60        2.3        17.4    0.0   14.0   5.8  0.0   22.1   0.0   0.0
   61~65        2.7        13.5   16.2   10.8   8.1  5.4   29.7   0.0   0.0
   66~70        0.0         0.0    0.0    0.0  29.4  0.0   47.1   0.0   0.0
   71+          0.0        40.0    0.0    0.0   0.0  0.0   20.0   0.0   0.0

In [ ]:
channel_df1 = channel_1.pivot_table(index=['성별', '나이'], columns='채널명', values='유입수', aggfunc='sum', fill_value=0)

channel_df1_percentage = channel_df1.div(channel_df1.sum(axis=1), axis=0) * 100

channel_df1_percentage = channel_df1_percentage.round(1)

channel_df1_percentage

채널명       구글검색  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버모바일메인-쇼핑  네이버쇼핑-검색  \
성별 나이
남성 11~13   0.0        0.0      0.0     0.0  100.0          0.0       0.0
   14~16   0.0        0.0      0.0     0.0   71.4          0.0       0.0
   17~19   0.0        0.0     14.1     0.0    2.8          0.0       0.0
   20~25   0.0        0.0      3.1     0.3   18.2          0.0       0.5
   26~30   0.3        0.0      3.4     0.6   28.1          0.0       1.0
   31~35   0.1        0.0      4.0     0.2   29.3          0.0       2.5
   36~40   0.1        0.1      4.4     0.4   26.6          0.0       2.6
   41~45   1.5        0.0      3.9     0.4   25.4          0.0       4.0
   46~50   0.3        0.0      2.8     0.1   27.5          0.1       5.5
   51~55   0.0        0.0      4.8     1.1   25.7          0.0       4.8
   56~60   0.0        0.0     26.4     0.0   16.9          0.0       6.1
   61~65   0.0        0.0      0.0     0.0   16.7          0.0       0.0
   66~70   0.0        0.0     85.7     0.0    0.0          0.0      14.3
   71+    18.2        0.0      0.0     0.0   27.3          0.0      18.2
여성 14~16   0.0        0.0      0.0     0.0   50.0          0.0       0.0
   17~19   0.0       15.6      0.0     0.0   25.0          0.0       0.0
   20~25   0.0        3.1      4.0     0.1   15.9          0.0       0.7
   26~30   0.0        0.1      4.7     0.3   23.7          0.0       0.9
   31~35   0.0        0.1      4.2     0.1   22.1          0.0       2.4
   36~40   0.0        0.0      2.4     0.5   24.3          0.1       2.2
   41~45   0.0        0.0      4.1     0.3   17.3          0.1       2.8
   46~50   0.0        0.0      4.5     0.3   21.7          0.0       2.4
   51~55   0.0        0.0      4.3     0.2   26.9          0.0       2.5
   56~60   0.0        0.0      1.2     0.0   24.8          0.0       7.7
   61~65   0.0        0.0      0.0     0.0    2.5          0.0       2.5
   66~70   0.0        0.0      0.0     0.0    1.2          0.0       4.7
   71+     0.0        0.0      0.0     0.0   33.3          0.0      11.1

채널명       네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램   트위터  페이스북
성별 나이
남성 11~13        0.0         0.0    0.0    0.0   0.0  0.0    0.0   0.0   0.0
   14~16        0.0         0.0    0.0    0.0  28.6  0.0    0.0   0.0   0.0
   17~19        1.4         1.4    0.0    0.0   7.0  1.4   71.8   0.0   0.0
   20~25        3.6         1.1    0.5    5.1  28.8  1.1   37.6   0.0   0.0
   26~30        2.4         1.8    0.5    3.5  27.2  2.6   28.8   0.0   0.0
   31~35        3.3         2.5    1.5    4.9  22.7  1.3   27.8   0.0   0.0
   36~40        8.9         3.0    0.7    6.8  19.4  3.1   23.7   0.0   0.0
   41~45        5.8         5.1    0.8    6.2  20.5  0.8   25.1   0.0   0.2
   46~50        9.7         3.8    0.0    9.2  13.8  6.0   21.1   0.0   0.1
   51~55        1.1         9.4    0.3    5.9  24.1  0.8   22.0   0.0   0.0
   56~60        0.0         4.1    0.0    0.7  21.6  0.7   23.6   0.0   0.0
   61~65        0.0        66.7    0.0    0.0   0.0  0.0   16.7   0.0   0.0
   66~70        0.0         0.0    0.0    0.0   0.0  0.0    0.0   0.0   0.0
   71+          0.0         0.0    0.0    0.0   0.0  0.0   36.4   0.0   0.0
여성 14~16        0.0         0.0    0.0    0.0   0.0  0.0   25.0  25.0   0.0
   17~19        0.0         3.1    6.2   18.8  12.5  0.0   18.8   0.0   0.0
   20~25        1.0         1.8    0.8    5.6  22.9  0.6   42.7   0.9   0.0
   26~30        2.7         3.5    0.8    4.5  17.6  1.2   39.8   0.3   0.0
   31~35        3.5         4.9    0.2    7.6  17.9  0.9   35.8   0.2   0.0
   36~40        6.1         4.3    0.8    6.4  13.6  0.8   38.4   0.2   0.0
   41~45       11.9         4.6    0.1   10.6  11.9  0.2   35.3   0.7   0.0
   46~50        9.0         4.6    0.3   12.7  14.0  0.9   29.5   0.1   0.0
   51~55        1.0         6.3    0.1    6.7  15.5  2.6   33.7   0.0   0.1
   56~60        2.8        11.4    0.0    8.1   8.1  0.0   35.8   0.0   0.0
   61~65        0.6         3.1   17.8    4.9   4.3  1.8   62.6   0.0   0.0
   66~70        0.0         0.0    0.0    0.0  40.7  0.0   53.5   0.0   0.0
   71+          0.0        22.2    0.0    0.0   0.0  0.0   33.3   0.0   0.0

# 202207-202212

In [ ]:
channel_2

,성별,나이,채널속성,채널그룹,채널명,고객수,유입수,페이지수,유입당 페이지수,결제수(마지막클릭),유입당 결제율(마지막클릭),결제금액(마지막클릭),유입당 결제금액(마지막클릭),결제수(+14일기여도추정),유입당 결제율(+14일기여도추정),결제금액(+14일기여도추정),유입당 결제금액(+14일기여도추정)
0,(알수없음),(알수없음),모바일,소셜,인스타그램,973,1654,3178,1.921403,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
1,남성,26~30,모바일,검색,네이버검색,186,501,1147,2.289421,11,0.021956,371000,740.518962,9.906417,0.019773,3.471925e+05,692.999050
2,여성,31~35,모바일,검색,네이버검색,192,472,1141,2.417373,35,0.074153,881000,1866.525424,40.131560,0.085024,2.657141e+06,5629.536618
3,여성,36~40,모바일,소셜,인스타그램,222,435,877,2.016092,7,0.016092,189000,434.482759,14.753163,0.033915,4.700506e+05,1080.576065
4,남성,31~35,모바일,검색,네이버검색,176,417,974,2.335731,23,0.055156,1029000,2467.625899,26.504118,0.063559,1.163537e+06,2790.256253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,남성,61~65,PC,웹사이트,웹사이트,1,1,4,4.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
420,남성,61~65,모바일,쇼핑,네이버쇼핑-통합검색,1,1,1,1.000000,1,1.000000,45000,45000.000000,1.000000,1.000000,4.500000e+04,45000.000000
421,남성,61~65,모바일,웹사이트,웹사이트,1,1,3,3.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
422,남성,66~70,PC,쇼핑,네이버쇼핑-검색,1,1,1,1.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
423,여성,26~30,모바일,일반유입,네이버 모바일메인,0,0,0,NaN,0,NaN,0,NaN,1.000000,NaN,1.500000e+04,NaN

In [ ]:
channel_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403 entries, 1 to 423
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   성별                   403 non-null    object
 1   나이                   403 non-null    object
 2   채널속성                 403 non-null    object
 3   채널그룹                 403 non-null    object
 4   채널명                  403 non-null    object
 5   고객수                  403 non-null    int64
 6   유입수                  403 non-null    int64
 7   페이지수                 403 non-null    int64
 8   유입당 페이지수             403 non-null    float64
 9   결제수(마지막클릭)           403 non-null    int64
 10  유입당 결제율(마지막클릭)       403 non-null    float64
 11  결제금액(마지막클릭)          403 non-null    int64
 12  유입당 결제금액(마지막클릭)      403 non-null    float64
 13  결제수(+14일기여도추정)       403 non-null    float64
 14  유입당 결제율(+14일기여도추정)   403 non-null    float64
 15  결제금액(+14일기여도추정)      403 non-null    float64
 16  유입당 결제금액(+14일기여도추정)  403 non-null    float64
dtypes: float64(7), int64(5), object(5)
memory usage: 56.7+ KB

In [ ]:
channel_2 = channel_2[(channel_2['성별'] != '(알수없음)') & (channel_2['나이'] != '(알수없음)')]

In [ ]:
channel_2 = channel_2.fillna(0)

In [ ]:
channel_df2 = channel_2.pivot_table(index=['성별', '나이'], columns='채널명', values='고객수', aggfunc='sum', fill_value=0, margins=True)

channel_df2

채널명        구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버공통  네이버모바일메인-쇼핑  \
성별  나이
남성  11~13     0     0          0        0       0      0      0            0
    17~19     0     0          0        1       0      7      0            0
    20~25     6     3          0        9       4     87      0            0
    26~30     3     0          0       28      15    267      1            1
    31~35     8     0          0       46      12    256      0            0
    36~40     9     0          1       42      29    196      0            1
    41~45     3     0          0       21      14    129      0            0
    46~50     2     0          1       13       6     46      0            2
    51~55     2     0          0       11       3     33      0            0
    56~60     1     0          0        6       1      7      0            0
    61~65     0     0          0        2       0      6      0            0
    66~70     0     0          0        0       1      0      0            0
    71+       0     0          0        0       0      0      0            0
여성  14~16     0     0          0        0       0      1      0            0
    17~19     0     0          0        0       0      2      0            0
    20~25     2     1          1       10       0     54      0            0
    26~30     2     0          0       26       8    198      0            2
    31~35     5     0          2       25      10    247      0            0
    36~40     2     0          5       21      10    194      0            0
    41~45     2     0          3       23       5    156      0            0
    46~50     1     0          2       15       2     73      0            2
    51~55     0     0          0       11       2     38      0            0
    56~60     0     0          0        3       0     10      0            0
    61~65     0     0          0        1       2      5      0            0
    66~70     0     0          0        1       0      1      0            0
    71+       0     0          0        0       0      0      0            0
All          48     4         15      315     124   2013      1            8

채널명        네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별  나이
남성  11~13         0          0           1      0      0     0    0      0
    17~19         0          0           0      0      0     1    1      5
    20~25         9         20           9      1      9    90    7    106
    26~30        22         20          49      1     68   181    9    202
    31~35        43         51          42     20     48   170   12    179
    36~40        37         44          59      6     91    87   10    115
    41~45        28         95          53      4     71    59    3     66
    46~50        17         18          19      0     21    25    3     39
    51~55         5         12          18      2     19    16    2     13
    56~60         4          0           3      0      6    11    1      6
    61~65         0          0           2      2      1     2    0      7
    66~70         1          0           0      0      0     0    0      0
    71+           0          0           2      0      0     0    0      0
여성  14~16         0          0           0      0      0     0    0      0
    17~19         0          0           1      0      1     1    0      3
    20~25         3          8          16      0     22    49    1     86
    26~30        21         31          72      4     58   171    3    225
    31~35        43         50          98      5    161   158    8    248
    36~40        49         52          79      4    132   126    5    238
    41~45        22         59          88      6    130   102    5    158
    46~50        32         22          45      7    100    55    4     97
    51~55        14          8          37      5     56    29    3     39
    56~60         3          0          11      0      6     6    1     10
    61~65         5          0           7      3      6     2    1      9
    66~70         0          0           1      0      0     0    0      0
    71+           0          0           0      0      0     1    0      0
All             358        490         712     70   1006  1342   79   1851

채널명        트위터  페이스북   All
성별  나이
남성  11~13    0     0     1
    17~19    0     0    15
    20~25    0     0   360
    26~30    0     1   868
    31~35    0     3   890
    36~40    0     1   728
    41~45    0     2   548
    46~50    0     2   214
    51~55    0     1   137
    56~60    0     0    46
    61~65    0     0    22
    66~70    0     0     2
    71+      0     0     2
여성  14~16    0     0     1
    17~19    0     0     8
    20~25    0     0   253
    26~30    0     0   821
    31~35    0     1  1061
    36~40    0     1   918
    41~45    1     1   761
    46~50    0     1   458
    51~55    0     7   249
    56~60    0     0    50
    61~65    0     0    41
    66~70    0     0     3
    71+      0     0     1
All          1    21  8458

In [ ]:
channel_df2 = channel_2.pivot_table(index=['성별', '나이'], columns='채널명', values='유입수', aggfunc='sum', fill_value=0, margins=True)

channel_df2

채널명        구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버공통  네이버모바일메인-쇼핑  \
성별  나이
남성  11~13     0     0          0        0       0      0      0            0
    17~19     0     0          0        1       0     19      0            0
    20~25    11     3          0       23       6    142      0            0
    26~30     3     0          0       40      18    594      1            1
    31~35     8     0          0       74      14    505      0            0
    36~40    11     0          2       92      35    459      0            1
    41~45     3     0          0       38      20    296      0            0
    46~50     3     0          5       18       9     78      0            2
    51~55     2     0          0       16       7     73      0            0
    56~60     1     0          0        9       1     11      0            0
    61~65     0     0          0        2       0     16      0            0
    66~70     0     0          0        0       3      0      0            0
    71+       0     0          0        0       0      0      0            0
여성  14~16     0     0          0        0       0      1      0            0
    17~19     0     0          0        0       0      5      0            0
    20~25     2     1          2       14       0    132      0            0
    26~30     2     0          0       46      11    379      0            2
    31~35     5     0          3       37      11    531      0            0
    36~40     3     0          7       46      15    356      0            0
    41~45     2     0          3       34       5    363      0            0
    46~50     1     0          4       28       2    169      0            3
    51~55     0     0          0       16       5     82      0            0
    56~60     0     0          0        3       0     47      0            0
    61~65     0     0          0        1       6      6      0            0
    66~70     0     0          0        2       0      1      0            0
    71+       0     0          0        0       0      0      0            0
All          57     4         26      540     168   4265      1            9

채널명        네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별  나이
남성  11~13         0          0           2      0      0     0    0      0
    17~19         0          0           0      0      0     6    1      5
    20~25        10         29          10      1     13   156    7    215
    26~30        29         32          68      1    101   389   10    411
    31~35        55         90          53     23     66   297   12    295
    36~40        60         61          90     14    157   170   27    246
    41~45        31        147          72      4    116   108    4    130
    46~50        18         21          25      0     31    58   12     67
    51~55         6         24          26      2     33    19    3     19
    56~60         5          0           5      0     13    24    1      9
    61~65         0          0           2      4      1     2    0     11
    66~70         1          0           0      0      0     0    0      0
    71+           0          0           5      0      0     0    0      0
여성  14~16         0          0           0      0      0     0    0      0
    17~19         0          0           1      0      5     1    0     16
    20~25         4         10          19      0     39    93    1    159
    26~30        29         49          83      6    147   422    7    352
    31~35        50         81         126      7    283   336   29    423
    36~40        68        104         101      4    249   259   14    451
    41~45        37        122         124      8    228   219    9    267
    46~50        59         30          64     10    253    97   42    232
    51~55        18         21          45     10     70    48    4     93
    56~60         4          0          22      0     12    14   13     13
    61~65         6          0          11      7      7     6    1     41
    66~70         0          0           1      0      0     0    0      0
    71+           0          0           0      0      0     1    0      0
All             490        821         955    101   1824  2725  197   3455

채널명        트위터  페이스북    All
성별  나이
남성  11~13    0     0      2
    17~19    0     0     32
    20~25    0     0    626
    26~30    0     1   1699
    31~35    0     4   1496
    36~40    0     1   1426
    41~45    0     2    971
    46~50    0     4    351
    51~55    0     1    231
    56~60    0     0     79
    61~65    0     0     38
    66~70    0     0      4
    71+      0     0      5
여성  14~16    0     0      1
    17~19    0     0     28
    20~25    0     0    476
    26~30    0     0   1535
    31~35    0     1   1923
    36~40    0     1   1678
    41~45    1     1   1423
    46~50    0     1    995
    51~55    0     8    420
    56~60    0     0    128
    61~65    0     0     92
    66~70    0     0      4
    71+      0     0      1
All          1    25  15664

In [ ]:
channel_df2 = channel_2.pivot_table(index=['성별', '나이'], columns='채널명', values='고객수', aggfunc='sum', fill_value=0)

channel_df2_percentage = channel_df2.div(channel_df2.sum(axis=1), axis=0) * 100

channel_df2_percentage = channel_df2_percentage.round(1)

channel_df2_percentage

채널명       구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버공통  네이버모바일메인-쇼핑  \
성별 나이
남성 11~13   0.0   0.0        0.0      0.0     0.0    0.0    0.0          0.0
   17~19   0.0   0.0        0.0      6.7     0.0   46.7    0.0          0.0
   20~25   1.7   0.8        0.0      2.5     1.1   24.2    0.0          0.0
   26~30   0.3   0.0        0.0      3.2     1.7   30.8    0.1          0.1
   31~35   0.9   0.0        0.0      5.2     1.3   28.8    0.0          0.0
   36~40   1.2   0.0        0.1      5.8     4.0   26.9    0.0          0.1
   41~45   0.5   0.0        0.0      3.8     2.6   23.5    0.0          0.0
   46~50   0.9   0.0        0.5      6.1     2.8   21.5    0.0          0.9
   51~55   1.5   0.0        0.0      8.0     2.2   24.1    0.0          0.0
   56~60   2.2   0.0        0.0     13.0     2.2   15.2    0.0          0.0
   61~65   0.0   0.0        0.0      9.1     0.0   27.3    0.0          0.0
   66~70   0.0   0.0        0.0      0.0    50.0    0.0    0.0          0.0
   71+     0.0   0.0        0.0      0.0     0.0    0.0    0.0          0.0
여성 14~16   0.0   0.0        0.0      0.0     0.0  100.0    0.0          0.0
   17~19   0.0   0.0        0.0      0.0     0.0   25.0    0.0          0.0
   20~25   0.8   0.4        0.4      4.0     0.0   21.3    0.0          0.0
   26~30   0.2   0.0        0.0      3.2     1.0   24.1    0.0          0.2
   31~35   0.5   0.0        0.2      2.4     0.9   23.3    0.0          0.0
   36~40   0.2   0.0        0.5      2.3     1.1   21.1    0.0          0.0
   41~45   0.3   0.0        0.4      3.0     0.7   20.5    0.0          0.0
   46~50   0.2   0.0        0.4      3.3     0.4   15.9    0.0          0.4
   51~55   0.0   0.0        0.0      4.4     0.8   15.3    0.0          0.0
   56~60   0.0   0.0        0.0      6.0     0.0   20.0    0.0          0.0
   61~65   0.0   0.0        0.0      2.4     4.9   12.2    0.0          0.0
   66~70   0.0   0.0        0.0     33.3     0.0   33.3    0.0          0.0
   71+     0.0   0.0        0.0      0.0     0.0    0.0    0.0          0.0

채널명       네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이   웹사이트  유튜브  인스타그램  \
성별 나이
남성 11~13       0.0        0.0       100.0    0.0    0.0    0.0  0.0    0.0
   17~19       0.0        0.0         0.0    0.0    0.0    6.7  6.7   33.3
   20~25       2.5        5.6         2.5    0.3    2.5   25.0  1.9   29.4
   26~30       2.5        2.3         5.6    0.1    7.8   20.9  1.0   23.3
   31~35       4.8        5.7         4.7    2.2    5.4   19.1  1.3   20.1
   36~40       5.1        6.0         8.1    0.8   12.5   12.0  1.4   15.8
   41~45       5.1       17.3         9.7    0.7   13.0   10.8  0.5   12.0
   46~50       7.9        8.4         8.9    0.0    9.8   11.7  1.4   18.2
   51~55       3.6        8.8        13.1    1.5   13.9   11.7  1.5    9.5
   56~60       8.7        0.0         6.5    0.0   13.0   23.9  2.2   13.0
   61~65       0.0        0.0         9.1    9.1    4.5    9.1  0.0   31.8
   66~70      50.0        0.0         0.0    0.0    0.0    0.0  0.0    0.0
   71+         0.0        0.0       100.0    0.0    0.0    0.0  0.0    0.0
여성 14~16       0.0        0.0         0.0    0.0    0.0    0.0  0.0    0.0
   17~19       0.0        0.0        12.5    0.0   12.5   12.5  0.0   37.5
   20~25       1.2        3.2         6.3    0.0    8.7   19.4  0.4   34.0
   26~30       2.6        3.8         8.8    0.5    7.1   20.8  0.4   27.4
   31~35       4.1        4.7         9.2    0.5   15.2   14.9  0.8   23.4
   36~40       5.3        5.7         8.6    0.4   14.4   13.7  0.5   25.9
   41~45       2.9        7.8        11.6    0.8   17.1   13.4  0.7   20.8
   46~50       7.0        4.8         9.8    1.5   21.8   12.0  0.9   21.2
   51~55       5.6        3.2        14.9    2.0   22.5   11.6  1.2   15.7
   56~60       6.0        0.0        22.0    0.0   12.0   12.0  2.0   20.0
   61~65      12.2        0.0        17.1    7.3   14.6    4.9  2.4   22.0
   66~70       0.0        0.0        33.3    0.0    0.0    0.0  0.0    0.0
   71+         0.0        0.0         0.0    0.0    0.0  100.0  0.0    0.0

채널명       트위터  페이스북
성별 나이
남성 11~13  0.0   0.0
   17~19  0.0   0.0
   20~25  0.0   0.0
   26~30  0.0   0.1
   31~35  0.0   0.3
   36~40  0.0   0.1
   41~45  0.0   0.4
   46~50  0.0   0.9
   51~55  0.0   0.7
   56~60  0.0   0.0
   61~65  0.0   0.0
   66~70  0.0   0.0
   71+    0.0   0.0
여성 14~16  0.0   0.0
   17~19  0.0   0.0
   20~25  0.0   0.0
   26~30  0.0   0.0
   31~35  0.0   0.1
   36~40  0.0   0.1
   41~45  0.1   0.1
   46~50  0.0   0.2
   51~55  0.0   2.8
   56~60  0.0   0.0
   61~65  0.0   0.0
   66~70  0.0   0.0
   71+    0.0   0.0

In [ ]:
channel_df2 = channel_2.pivot_table(index=['성별', '나이'], columns='채널명', values='유입수', aggfunc='sum', fill_value=0)

channel_df2_percentage = channel_df2.div(channel_df2.sum(axis=1), axis=0) * 100

channel_df2_percentage = channel_df2_percentage.round(1)

channel_df2_percentage

채널명       구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버공통  네이버모바일메인-쇼핑  \
성별 나이
남성 11~13   0.0   0.0        0.0      0.0     0.0    0.0    0.0          0.0
   17~19   0.0   0.0        0.0      3.1     0.0   59.4    0.0          0.0
   20~25   1.8   0.5        0.0      3.7     1.0   22.7    0.0          0.0
   26~30   0.2   0.0        0.0      2.4     1.1   35.0    0.1          0.1
   31~35   0.5   0.0        0.0      4.9     0.9   33.8    0.0          0.0
   36~40   0.8   0.0        0.1      6.5     2.5   32.2    0.0          0.1
   41~45   0.3   0.0        0.0      3.9     2.1   30.5    0.0          0.0
   46~50   0.9   0.0        1.4      5.1     2.6   22.2    0.0          0.6
   51~55   0.9   0.0        0.0      6.9     3.0   31.6    0.0          0.0
   56~60   1.3   0.0        0.0     11.4     1.3   13.9    0.0          0.0
   61~65   0.0   0.0        0.0      5.3     0.0   42.1    0.0          0.0
   66~70   0.0   0.0        0.0      0.0    75.0    0.0    0.0          0.0
   71+     0.0   0.0        0.0      0.0     0.0    0.0    0.0          0.0
여성 14~16   0.0   0.0        0.0      0.0     0.0  100.0    0.0          0.0
   17~19   0.0   0.0        0.0      0.0     0.0   17.9    0.0          0.0
   20~25   0.4   0.2        0.4      2.9     0.0   27.7    0.0          0.0
   26~30   0.1   0.0        0.0      3.0     0.7   24.7    0.0          0.1
   31~35   0.3   0.0        0.2      1.9     0.6   27.6    0.0          0.0
   36~40   0.2   0.0        0.4      2.7     0.9   21.2    0.0          0.0
   41~45   0.1   0.0        0.2      2.4     0.4   25.5    0.0          0.0
   46~50   0.1   0.0        0.4      2.8     0.2   17.0    0.0          0.3
   51~55   0.0   0.0        0.0      3.8     1.2   19.5    0.0          0.0
   56~60   0.0   0.0        0.0      2.3     0.0   36.7    0.0          0.0
   61~65   0.0   0.0        0.0      1.1     6.5    6.5    0.0          0.0
   66~70   0.0   0.0        0.0     50.0     0.0   25.0    0.0          0.0
   71+     0.0   0.0        0.0      0.0     0.0    0.0    0.0          0.0

채널명       네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이   웹사이트   유튜브  인스타그램  \
성별 나이
남성 11~13       0.0        0.0       100.0    0.0    0.0    0.0   0.0    0.0
   17~19       0.0        0.0         0.0    0.0    0.0   18.8   3.1   15.6
   20~25       1.6        4.6         1.6    0.2    2.1   24.9   1.1   34.3
   26~30       1.7        1.9         4.0    0.1    5.9   22.9   0.6   24.2
   31~35       3.7        6.0         3.5    1.5    4.4   19.9   0.8   19.7
   36~40       4.2        4.3         6.3    1.0   11.0   11.9   1.9   17.3
   41~45       3.2       15.1         7.4    0.4   11.9   11.1   0.4   13.4
   46~50       5.1        6.0         7.1    0.0    8.8   16.5   3.4   19.1
   51~55       2.6       10.4        11.3    0.9   14.3    8.2   1.3    8.2
   56~60       6.3        0.0         6.3    0.0   16.5   30.4   1.3   11.4
   61~65       0.0        0.0         5.3   10.5    2.6    5.3   0.0   28.9
   66~70      25.0        0.0         0.0    0.0    0.0    0.0   0.0    0.0
   71+         0.0        0.0       100.0    0.0    0.0    0.0   0.0    0.0
여성 14~16       0.0        0.0         0.0    0.0    0.0    0.0   0.0    0.0
   17~19       0.0        0.0         3.6    0.0   17.9    3.6   0.0   57.1
   20~25       0.8        2.1         4.0    0.0    8.2   19.5   0.2   33.4
   26~30       1.9        3.2         5.4    0.4    9.6   27.5   0.5   22.9
   31~35       2.6        4.2         6.6    0.4   14.7   17.5   1.5   22.0
   36~40       4.1        6.2         6.0    0.2   14.8   15.4   0.8   26.9
   41~45       2.6        8.6         8.7    0.6   16.0   15.4   0.6   18.8
   46~50       5.9        3.0         6.4    1.0   25.4    9.7   4.2   23.3
   51~55       4.3        5.0        10.7    2.4   16.7   11.4   1.0   22.1
   56~60       3.1        0.0        17.2    0.0    9.4   10.9  10.2   10.2
   61~65       6.5        0.0        12.0    7.6    7.6    6.5   1.1   44.6
   66~70       0.0        0.0        25.0    0.0    0.0    0.0   0.0    0.0
   71+         0.0        0.0         0.0    0.0    0.0  100.0   0.0    0.0

채널명       트위터  페이스북
성별 나이
남성 11~13  0.0   0.0
   17~19  0.0   0.0
   20~25  0.0   0.0
   26~30  0.0   0.1
   31~35  0.0   0.3
   36~40  0.0   0.1
   41~45  0.0   0.2
   46~50  0.0   1.1
   51~55  0.0   0.4
   56~60  0.0   0.0
   61~65  0.0   0.0
   66~70  0.0   0.0
   71+    0.0   0.0
여성 14~16  0.0   0.0
   17~19  0.0   0.0
   20~25  0.0   0.0
   26~30  0.0   0.0
   31~35  0.0   0.1
   36~40  0.0   0.1
   41~45  0.1   0.1
   46~50  0.0   0.1
   51~55  0.0   1.9
   56~60  0.0   0.0
   61~65  0.0   0.0
   66~70  0.0   0.0
   71+    0.0   0.0

# 202301-202305

In [ ]:
channel_3

,성별,나이,채널속성,채널그룹,채널명,고객수,유입수,페이지수,유입당 페이지수,결제수(마지막클릭),유입당 결제율(마지막클릭),결제금액(마지막클릭),유입당 결제금액(마지막클릭),결제수(+14일기여도추정),유입당 결제율(+14일기여도추정),결제금액(+14일기여도추정),유입당 결제금액(+14일기여도추정)
0,여성,31~35,모바일,쇼핑,네이버페이,186,316,922,2.917722,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
1,(알수없음),(알수없음),모바일,소셜,인스타그램,268,296,741,2.503378,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
2,여성,36~40,모바일,쇼핑,네이버페이,172,292,934,3.198630,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
3,남성,36~40,모바일,검색,네이버검색,198,261,1470,5.632184,34,0.130268,967000,3704.980843,36.789768,0.140957,1.279312e+06,4901.577798
4,남성,26~30,모바일,검색,네이버검색,204,257,1109,4.315175,14,0.054475,460000,1789.883268,13.559220,0.052760,4.548218e+05,1769.734520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,남성,71+,PC,검색,네이버검색,1,1,7,7.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
428,남성,71+,모바일,검색,네이버검색,1,1,11,11.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
429,남성,71+,모바일,쇼핑,네이버쇼핑-검색,1,1,7,7.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
430,남성,71+,모바일,소셜,네이버 카페,1,1,1,1.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
431,여성,56~60,모바일,쇼핑,네이버쇼핑-서비스,0,0,0,NaN,0,NaN,0,NaN,1.272950,NaN,4.757441e+04,NaN

In [ ]:
channel_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411 entries, 0 to 431
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   성별                   411 non-null    object
 1   나이                   411 non-null    object
 2   채널속성                 411 non-null    object
 3   채널그룹                 411 non-null    object
 4   채널명                  411 non-null    object
 5   고객수                  411 non-null    int64
 6   유입수                  411 non-null    int64
 7   페이지수                 411 non-null    int64
 8   유입당 페이지수             411 non-null    float64
 9   결제수(마지막클릭)           411 non-null    int64
 10  유입당 결제율(마지막클릭)       411 non-null    float64
 11  결제금액(마지막클릭)          411 non-null    int64
 12  유입당 결제금액(마지막클릭)      411 non-null    float64
 13  결제수(+14일기여도추정)       411 non-null    float64
 14  유입당 결제율(+14일기여도추정)   411 non-null    float64
 15  결제금액(+14일기여도추정)      411 non-null    float64
 16  유입당 결제금액(+14일기여도추정)  411 non-null    float64
dtypes: float64(7), int64(5), object(5)
memory usage: 57.8+ KB

In [ ]:
channel_3 = channel_3[(channel_3['성별'] != '(알수없음)') & (channel_3['나이'] != '(알수없음)')]

In [ ]:
channel_3 = channel_3.fillna(0)

In [ ]:
channel_df3 = channel_3.pivot_table(index=['성별', '나이'], columns='채널명', values='고객수', aggfunc='sum', fill_value=0, margins=True)

channel_df3

채널명        구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버모바일메인-쇼핑  \
성별  나이
남성  14~16     0     0          0        0       0      1            0
    17~19     0     0          0        1       0     14            0
    20~25     0     0          2        6       5    104            0
    26~30     0     0          3       19      16    284            0
    31~35     1     0          6       27      14    281            0
    36~40     0     0          3       22      13    283            1
    41~45     0     0          1       19       7    135            0
    46~50     1     1          0        7       7     79            1
    51~55     0     0          0        0       6     29            0
    56~60     0     0          0        1       3     13            0
    61~65     0     0          0        0       3      6            0
    66~70     0     0          0        0       0      1            0
    71+       0     0          0        0       1      2            0
여성  14~16     0     0          0        0       0      0            0
    17~19     0     0          0        1       0      0            0
    20~25     0     0         12       14       1     47            1
    26~30     0     0          8       25       8    207            1
    31~35     0     1          5       27       9    225            1
    36~40     0     0          5       25       5    186            6
    41~45     1     0          2       16       5    163            0
    46~50     0     0          1        9       3     77            1
    51~55     0     0          1        7       2     59            1
    56~60     0     0          1        1       0     16            0
    61~65     0     0          0        1       0      4            0
    66~70     0     0          0        0       0      2            0
    71+       0     0          0        0       0      0            0
All           3     2         50      228     108   2218           13

채널명        네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별  나이
남성  14~16         4          0           2      1      0     0    0      1
    17~19         1          1           2      0      4    13    1      0
    20~25         5         12          18     27     26   102    5     31
    26~30        26         15         114     51     62   226    1     30
    31~35        48         44         115     72     85   210    5     59
    36~40        39         38         118    112     82   125    5     38
    41~45        58         64          91    113     76   102    3     24
    46~50        28         17          38     52     41    63    4     17
    51~55        11          7          21     18     26    12    3      7
    56~60         5          0          14      1      3     2    1      5
    61~65         1          2          15      4      4     4    0      0
    66~70         1          0           1      0      1     2    0      0
    71+           1          0           0      0      0     0    0      0
여성  14~16         1          0           0      0      0     0    0      0
    17~19         3          1           4      2      3     8    0      0
    20~25         5         23          28     20     36    64    0     49
    26~30        27         30          80     68     98   165    0    112
    31~35        56         59         158     93    204   192    1    123
    36~40        44         29         121    125    185   139    1    124
    41~45        51         27         109    116    165   111    3     78
    46~50        37         29          76     77    118    73    0     58
    51~55        22         15          56     48     84    29    1     20
    56~60        14          0          25     10      7    11    0      6
    61~65        12          1          11      2      5     2    0      2
    66~70         1          0           3      0      0     0    0      0
    71+           1          0           0      0      0     0    0      0
All             502        414        1220   1012   1315  1655   34    784

채널명        트위터  페이스북   All
성별  나이
남성  14~16    0     0     9
    17~19    0     0    37
    20~25    0     0   343
    26~30    0     0   847
    31~35    0     0   967
    36~40    0     0   879
    41~45    0     1   694
    46~50    0     2   358
    51~55    0     0   140
    56~60    0     0    48
    61~65    0     0    39
    66~70    0     0     6
    71+      0     0     4
여성  14~16    0     0     1
    17~19    0     0    22
    20~25    0     0   300
    26~30    1     0   830
    31~35    0     0  1154
    36~40    2     0   997
    41~45    1     0   848
    46~50    0     1   560
    51~55    0     0   345
    56~60    0     2    93
    61~65    0     2    42
    66~70    0     0     6
    71+      0     0     1
All          4     8  9570

In [ ]:
channel_df3 = channel_3.pivot_table(index=['성별', '나이'], columns='채널명', values='유입수', aggfunc='sum', fill_value=0, margins=True)

channel_df3

채널명        구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버모바일메인-쇼핑  \
성별  나이
남성  14~16     0     0          0        0       0      1            0
    17~19     0     0          0        1       0     15            0
    20~25     0     0          2        7       5    132            0
    26~30     0     0          3       20      18    346            0
    31~35     1     0          7       35      15    349            0
    36~40     0     0          5       23      14    356            1
    41~45     0     0          1       20       7    164            0
    46~50     2     1          0       10       7    112            1
    51~55     0     0          0        0       6     37            0
    56~60     0     0          0        3       3     14            0
    61~65     0     0          0        0       3     14            0
    66~70     0     0          0        0       0      1            0
    71+       0     0          0        0       1      2            0
여성  14~16     0     0          0        0       0      0            0
    17~19     0     0          0        1       0      0            0
    20~25     0     0         15       18       1     55            1
    26~30     0     0         12       26       8    253            1
    31~35     0     1          8       30       9    279            2
    36~40     0     0          6       29       6    244            7
    41~45     1     0          2       16      11    207            0
    46~50     0     0          3       11       3    104            2
    51~55     0     0          1        8       3     87            4
    56~60     0     0          1        1       0     21            0
    61~65     0     0          0        1       0      5            0
    66~70     0     0          0        0       0      2            0
    71+       0     0          0        0       0      0            0
All           4     2         66      260     120   2800           19

채널명        네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별  나이
남성  14~16         5          0           4      1      0     0    0      1
    17~19         1          1           2      0      5    16    1      0
    20~25         6         13          20     35     39   126    6     34
    26~30        35         16         141     59     85   293    1     32
    31~35        54         50         132     88    134   247    6     71
    36~40        43         50         141    139    132   155    5     49
    41~45        79         76         110    132    122   125    3     26
    46~50        44         24          51     69     60    88    5     19
    51~55        18          8          28     20     34    14    3     10
    56~60         6          0          20      1      3     2    1      6
    61~65         1          4          23      4      8     4    0      0
    66~70         1          0           1      0      1     2    0      0
    71+           1          0           0      0      0     0    0      0
여성  14~16         1          0           0      0      0     0    0      0
    17~19         6          1           4      2      3     9    0      0
    20~25         7         36          32     22     68    74    0     61
    26~30        29         37         104     84    179   206    0    136
    31~35        64         76         193    109    343   266    1    147
    36~40        57         39         160    166    308   197    1    141
    41~45        79         36         154    144    266   144    4     93
    46~50        56         44          99     99    251    95    0     78
    51~55        41         19          76     82    168    47    1     23
    56~60        30          0          36     13     26    18    0      9
    61~65        18          1          19      9      9     2    0      4
    66~70         1          0           3      0      0     0    0      0
    71+           1          0           0      0      0     0    0      0
All             684        531        1553   1278   2244  2130   38    940

채널명        트위터  페이스북    All
성별  나이
남성  14~16    0     0     12
    17~19    0     0     42
    20~25    0     0    425
    26~30    0     0   1049
    31~35    0     0   1189
    36~40    0     0   1113
    41~45    0     1    866
    46~50    0     2    495
    51~55    0     0    178
    56~60    0     0     59
    61~65    0     0     61
    66~70    0     0      6
    71+      0     0      4
여성  14~16    0     0      1
    17~19    0     0     26
    20~25    0     0    390
    26~30    1     0   1076
    31~35    0     0   1528
    36~40    3     0   1364
    41~45    1     0   1158
    46~50    0     1    846
    51~55    0     0    560
    56~60    0     2    157
    61~65    0     2     70
    66~70    0     0      6
    71+      0     0      1
All          5     8  12682

In [ ]:
channel_df3 = channel_3.pivot_table(index=['성별', '나이'], columns='채널명', values='고객수', aggfunc='sum', fill_value=0)

channel_df3_percentage = channel_df3.div(channel_df3.sum(axis=1), axis=0) * 100

channel_df3_percentage = channel_df3_percentage.round(1)

channel_df3_percentage

채널명       구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버모바일메인-쇼핑  \
성별 나이
남성 14~16   0.0   0.0        0.0      0.0     0.0   11.1          0.0
   17~19   0.0   0.0        0.0      2.7     0.0   37.8          0.0
   20~25   0.0   0.0        0.6      1.7     1.5   30.3          0.0
   26~30   0.0   0.0        0.4      2.2     1.9   33.5          0.0
   31~35   0.1   0.0        0.6      2.8     1.4   29.1          0.0
   36~40   0.0   0.0        0.3      2.5     1.5   32.2          0.1
   41~45   0.0   0.0        0.1      2.7     1.0   19.5          0.0
   46~50   0.3   0.3        0.0      2.0     2.0   22.1          0.3
   51~55   0.0   0.0        0.0      0.0     4.3   20.7          0.0
   56~60   0.0   0.0        0.0      2.1     6.2   27.1          0.0
   61~65   0.0   0.0        0.0      0.0     7.7   15.4          0.0
   66~70   0.0   0.0        0.0      0.0     0.0   16.7          0.0
   71+     0.0   0.0        0.0      0.0    25.0   50.0          0.0
여성 14~16   0.0   0.0        0.0      0.0     0.0    0.0          0.0
   17~19   0.0   0.0        0.0      4.5     0.0    0.0          0.0
   20~25   0.0   0.0        4.0      4.7     0.3   15.7          0.3
   26~30   0.0   0.0        1.0      3.0     1.0   24.9          0.1
   31~35   0.0   0.1        0.4      2.3     0.8   19.5          0.1
   36~40   0.0   0.0        0.5      2.5     0.5   18.7          0.6
   41~45   0.1   0.0        0.2      1.9     0.6   19.2          0.0
   46~50   0.0   0.0        0.2      1.6     0.5   13.8          0.2
   51~55   0.0   0.0        0.3      2.0     0.6   17.1          0.3
   56~60   0.0   0.0        1.1      1.1     0.0   17.2          0.0
   61~65   0.0   0.0        0.0      2.4     0.0    9.5          0.0
   66~70   0.0   0.0        0.0      0.0     0.0   33.3          0.0
   71+     0.0   0.0        0.0      0.0     0.0    0.0          0.0

채널명       네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별 나이
남성 14~16      44.4        0.0        22.2   11.1    0.0   0.0  0.0   11.1
   17~19       2.7        2.7         5.4    0.0   10.8  35.1  2.7    0.0
   20~25       1.5        3.5         5.2    7.9    7.6  29.7  1.5    9.0
   26~30       3.1        1.8        13.5    6.0    7.3  26.7  0.1    3.5
   31~35       5.0        4.6        11.9    7.4    8.8  21.7  0.5    6.1
   36~40       4.4        4.3        13.4   12.7    9.3  14.2  0.6    4.3
   41~45       8.4        9.2        13.1   16.3   11.0  14.7  0.4    3.5
   46~50       7.8        4.7        10.6   14.5   11.5  17.6  1.1    4.7
   51~55       7.9        5.0        15.0   12.9   18.6   8.6  2.1    5.0
   56~60      10.4        0.0        29.2    2.1    6.2   4.2  2.1   10.4
   61~65       2.6        5.1        38.5   10.3   10.3  10.3  0.0    0.0
   66~70      16.7        0.0        16.7    0.0   16.7  33.3  0.0    0.0
   71+        25.0        0.0         0.0    0.0    0.0   0.0  0.0    0.0
여성 14~16     100.0        0.0         0.0    0.0    0.0   0.0  0.0    0.0
   17~19      13.6        4.5        18.2    9.1   13.6  36.4  0.0    0.0
   20~25       1.7        7.7         9.3    6.7   12.0  21.3  0.0   16.3
   26~30       3.3        3.6         9.6    8.2   11.8  19.9  0.0   13.5
   31~35       4.9        5.1        13.7    8.1   17.7  16.6  0.1   10.7
   36~40       4.4        2.9        12.1   12.5   18.6  13.9  0.1   12.4
   41~45       6.0        3.2        12.9   13.7   19.5  13.1  0.4    9.2
   46~50       6.6        5.2        13.6   13.8   21.1  13.0  0.0   10.4
   51~55       6.4        4.3        16.2   13.9   24.3   8.4  0.3    5.8
   56~60      15.1        0.0        26.9   10.8    7.5  11.8  0.0    6.5
   61~65      28.6        2.4        26.2    4.8   11.9   4.8  0.0    4.8
   66~70      16.7        0.0        50.0    0.0    0.0   0.0  0.0    0.0
   71+       100.0        0.0         0.0    0.0    0.0   0.0  0.0    0.0

채널명       트위터  페이스북
성별 나이
남성 14~16  0.0   0.0
   17~19  0.0   0.0
   20~25  0.0   0.0
   26~30  0.0   0.0
   31~35  0.0   0.0
   36~40  0.0   0.0
   41~45  0.0   0.1
   46~50  0.0   0.6
   51~55  0.0   0.0
   56~60  0.0   0.0
   61~65  0.0   0.0
   66~70  0.0   0.0
   71+    0.0   0.0
여성 14~16  0.0   0.0
   17~19  0.0   0.0
   20~25  0.0   0.0
   26~30  0.1   0.0
   31~35  0.0   0.0
   36~40  0.2   0.0
   41~45  0.1   0.0
   46~50  0.0   0.2
   51~55  0.0   0.0
   56~60  0.0   2.2
   61~65  0.0   4.8
   66~70  0.0   0.0
   71+    0.0   0.0

In [ ]:
channel_df3 = channel_3.pivot_table(index=['성별', '나이'], columns='채널명', values='유입수', aggfunc='sum', fill_value=0)

channel_df3_percentage = channel_df3.div(channel_df3.sum(axis=1), axis=0) * 100

channel_df3_percentage = channel_df3_percentage.round(1)

channel_df3_percentage

채널명       구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버모바일메인-쇼핑  \
성별 나이
남성 14~16   0.0   0.0        0.0      0.0     0.0    8.3          0.0
   17~19   0.0   0.0        0.0      2.4     0.0   35.7          0.0
   20~25   0.0   0.0        0.5      1.6     1.2   31.1          0.0
   26~30   0.0   0.0        0.3      1.9     1.7   33.0          0.0
   31~35   0.1   0.0        0.6      2.9     1.3   29.4          0.0
   36~40   0.0   0.0        0.4      2.1     1.3   32.0          0.1
   41~45   0.0   0.0        0.1      2.3     0.8   18.9          0.0
   46~50   0.4   0.2        0.0      2.0     1.4   22.6          0.2
   51~55   0.0   0.0        0.0      0.0     3.4   20.8          0.0
   56~60   0.0   0.0        0.0      5.1     5.1   23.7          0.0
   61~65   0.0   0.0        0.0      0.0     4.9   23.0          0.0
   66~70   0.0   0.0        0.0      0.0     0.0   16.7          0.0
   71+     0.0   0.0        0.0      0.0    25.0   50.0          0.0
여성 14~16   0.0   0.0        0.0      0.0     0.0    0.0          0.0
   17~19   0.0   0.0        0.0      3.8     0.0    0.0          0.0
   20~25   0.0   0.0        3.8      4.6     0.3   14.1          0.3
   26~30   0.0   0.0        1.1      2.4     0.7   23.5          0.1
   31~35   0.0   0.1        0.5      2.0     0.6   18.3          0.1
   36~40   0.0   0.0        0.4      2.1     0.4   17.9          0.5
   41~45   0.1   0.0        0.2      1.4     0.9   17.9          0.0
   46~50   0.0   0.0        0.4      1.3     0.4   12.3          0.2
   51~55   0.0   0.0        0.2      1.4     0.5   15.5          0.7
   56~60   0.0   0.0        0.6      0.6     0.0   13.4          0.0
   61~65   0.0   0.0        0.0      1.4     0.0    7.1          0.0
   66~70   0.0   0.0        0.0      0.0     0.0   33.3          0.0
   71+     0.0   0.0        0.0      0.0     0.0    0.0          0.0

채널명       네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별 나이
남성 14~16      41.7        0.0        33.3    8.3    0.0   0.0  0.0    8.3
   17~19       2.4        2.4         4.8    0.0   11.9  38.1  2.4    0.0
   20~25       1.4        3.1         4.7    8.2    9.2  29.6  1.4    8.0
   26~30       3.3        1.5        13.4    5.6    8.1  27.9  0.1    3.1
   31~35       4.5        4.2        11.1    7.4   11.3  20.8  0.5    6.0
   36~40       3.9        4.5        12.7   12.5   11.9  13.9  0.4    4.4
   41~45       9.1        8.8        12.7   15.2   14.1  14.4  0.3    3.0
   46~50       8.9        4.8        10.3   13.9   12.1  17.8  1.0    3.8
   51~55      10.1        4.5        15.7   11.2   19.1   7.9  1.7    5.6
   56~60      10.2        0.0        33.9    1.7    5.1   3.4  1.7   10.2
   61~65       1.6        6.6        37.7    6.6   13.1   6.6  0.0    0.0
   66~70      16.7        0.0        16.7    0.0   16.7  33.3  0.0    0.0
   71+        25.0        0.0         0.0    0.0    0.0   0.0  0.0    0.0
여성 14~16     100.0        0.0         0.0    0.0    0.0   0.0  0.0    0.0
   17~19      23.1        3.8        15.4    7.7   11.5  34.6  0.0    0.0
   20~25       1.8        9.2         8.2    5.6   17.4  19.0  0.0   15.6
   26~30       2.7        3.4         9.7    7.8   16.6  19.1  0.0   12.6
   31~35       4.2        5.0        12.6    7.1   22.4  17.4  0.1    9.6
   36~40       4.2        2.9        11.7   12.2   22.6  14.4  0.1   10.3
   41~45       6.8        3.1        13.3   12.4   23.0  12.4  0.3    8.0
   46~50       6.6        5.2        11.7   11.7   29.7  11.2  0.0    9.2
   51~55       7.3        3.4        13.6   14.6   30.0   8.4  0.2    4.1
   56~60      19.1        0.0        22.9    8.3   16.6  11.5  0.0    5.7
   61~65      25.7        1.4        27.1   12.9   12.9   2.9  0.0    5.7
   66~70      16.7        0.0        50.0    0.0    0.0   0.0  0.0    0.0
   71+       100.0        0.0         0.0    0.0    0.0   0.0  0.0    0.0

채널명       트위터  페이스북
성별 나이
남성 14~16  0.0   0.0
   17~19  0.0   0.0
   20~25  0.0   0.0
   26~30  0.0   0.0
   31~35  0.0   0.0
   36~40  0.0   0.0
   41~45  0.0   0.1
   46~50  0.0   0.4
   51~55  0.0   0.0
   56~60  0.0   0.0
   61~65  0.0   0.0
   66~70  0.0   0.0
   71+    0.0   0.0
여성 14~16  0.0   0.0
   17~19  0.0   0.0
   20~25  0.0   0.0
   26~30  0.1   0.0
   31~35  0.0   0.0
   36~40  0.2   0.0
   41~45  0.1   0.0
   46~50  0.0   0.1
   51~55  0.0   0.0
   56~60  0.0   1.3
   61~65  0.0   2.9
   66~70  0.0   0.0
   71+    0.0   0.0

# 총 합

In [ ]:
channel_df = pd.concat([channel_1, channel_2, channel_3])

In [ ]:
channel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1211 entries, 1 to 431
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   성별                   1211 non-null   object
 1   나이                   1211 non-null   object
 2   채널속성                 1211 non-null   object
 3   채널그룹                 1211 non-null   object
 4   채널명                  1211 non-null   object
 5   고객수                  1211 non-null   int64
 6   유입수                  1211 non-null   int64
 7   페이지수                 1211 non-null   int64
 8   유입당 페이지수             1211 non-null   float64
 9   결제수(마지막클릭)           1211 non-null   int64
 10  유입당 결제율(마지막클릭)       1211 non-null   float64
 11  결제금액(마지막클릭)          1211 non-null   int64
 12  유입당 결제금액(마지막클릭)      1211 non-null   float64
 13  결제수(+14일기여도추정)       1211 non-null   float64
 14  유입당 결제율(+14일기여도추정)   1211 non-null   float64
 15  결제금액(+14일기여도추정)      1211 non-null   float64
 16  유입당 결제금액(+14일기여도추정)  1211 non-null   float64
dtypes: float64(7), int64(5), object(5)
memory usage: 170.3+ KB

In [ ]:
channel_df_sum = channel_df.pivot_table(index=['성별', '나이'], columns='채널명', values='고객수', aggfunc='sum', fill_value=0, margins=True)

channel_df_sum

채널명        구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버공통  네이버모바일메인-쇼핑  \
성별  나이
남성  11~13     0     0          0        0       0      2      0            0
    14~16     0     0          0        0       0      2      0            0
    17~19     0     0          0        4       0     23      0            0
    20~25     6     3          3       27      16    293      0            0
    26~30     8     0          3       89      46    802      1            1
    31~35    10     0          7      124      33    822      0            0
    36~40    11     0          5      113      54    727      0            2
    41~45     9     0          2       69      24    391      0            0
    46~50     5     1          1       29      14    183      0            4
    51~55     2     0          0       20      13     90      0            0
    56~60     1     0          0       14       4     29      0            0
    61~65     0     0          0        2       3     13      0            0
    66~70     0     0          0        1       1      1      0            0
    71+       1     0          0        0       1      3      0            0
여성  14~16     0     0          0        0       0      2      0            0
    17~19     0     0          1        1       0      5      0            0
    20~25     2     1         16       37       2    144      0            1
    26~30     3     0          9       98      24    559      0            4
    31~35     5     1          8       96      23    648      0            2
    36~40     2     0         10       74      25    527      0            8
    41~45     3     0          6       64      16    409      0            2
    46~50     1     0          3       38       8    203      0            3
    51~55     0     0          1       26       6    140      0            1
    56~60     0     0          1        6       0     44      0            0
    61~65     0     0          0        2       2     11      0            0
    66~70     0     0          0        1       0      4      0            0
    71+       0     0          0        0       0      1      0            0
All          69     6         76      935     315   6078      1           28

채널명        네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별  나이
남성  11~13         0          0           1      0      0     0    0      0
    14~16         4          0           2      1      0     1    0      1
    17~19         1          2           3      0      4    15    3     22
    20~25        24         57          52     31     49   337   29    370
    26~30        91         61         236     65    209   703   46    658
    31~35       180        144         247    123    234   606   44    602
    36~40       155        125         264    128    289   381   38    396
    41~45       148        208         213    126    220   259   16    226
    46~50        83         59          81     52     99   120   15    105
    51~55        30         23          62     21     52    43    8     45
    56~60        12          0          20      1     10    19    3     18
    61~65         1          2          22      6      5     6    0      9
    66~70         3          0           1      0      1     2    0      0
    71+           3          0           2      0      0     0    0      2
여성  14~16         1          0           0      0      0     0    0      1
    17~19         3          1           6      3      9    11    0      9
    20~25        15         37          58     23     82   162    3    298
    26~30        76        103         245     86    239   482   10    768
    31~35       163        150         377    101    494   498   23    732
    36~40       141        125         302    140    391   366   14    684
    41~45       118        158         268    124    393   265   11    454
    46~50        95         79         165     86    278   164    8    252
    51~55        49         28         126     54    178    78    9    122
    56~60        30          2          51     10     25    22    1     35
    61~65        20          2          23     11     15     7    3     22
    66~70         4          0           4      0      0     5    0      8
    71+           2          0           2      0      0     1    0      1
All            1452       1366        2833   1192   3276  4553  284   5840

채널명        트위터  페이스북    All
성별  나이
남성  11~13    0     0      3
    14~16    0     0     11
    17~19    0     0     77
    20~25    0     0   1297
    26~30    0     1   3020
    31~35    0     3   3179
    36~40    0     1   2689
    41~45    0     6   1917
    46~50    0     5    856
    51~55    0     1    410
    56~60    0     0    131
    61~65    0     0     69
    66~70    0     0     10
    71+      0     0     12
여성  14~16    1     0      5
    17~19    0     0     49
    20~25    3     0    884
    26~30    3     0   2709
    31~35    5     1   3327
    36~40    6     1   2816
    41~45    8     1   2300
    46~50    1     2   1386
    51~55    0     8    826
    56~60    0     2    229
    61~65    0     2    120
    66~70    0     0     26
    71+      0     0      7
All         27    34  28365

In [ ]:
channel_df_sum = channel_df.pivot_table(index=['성별', '나이'], columns='채널명', values='유입수', aggfunc='sum', fill_value=0, margins=True)

channel_df_sum

채널명        구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버공통  네이버모바일메인-쇼핑  \
성별  나이
남성  11~13     0     0          0        0       0     16      0            0
    14~16     0     0          0        0       0      6      0            0
    17~19     0     0          0       12       0     36      0            0
    20~25    11     3          3      107      19    719      0            0
    26~30    19     0          3      229      67   2354      1            1
    31~35    12     0          9      288      37   2174      0            0
    36~40    14     0         12      271      63   1750      0            2
    41~45    34     0          2      136      35    970      0            0
    46~50     8     1          5       53      17    438      0            4
    51~55     2     0          0       34      17    206      0            0
    56~60     1     0          0       51       4     50      0            0
    61~65     0     0          0        2       3     32      0            0
    66~70     0     0          0        6       3      1      0            0
    71+       2     0          0        0       1      5      0            0
여성  14~16     0     0          0        0       0      3      0            0
    17~19     0     0          5        1       0     13      0            0
    20~25     2     1         50       74       2    356      0            1
    26~30     3     0         14      233      30   1448      0            4
    31~35     5     1         13      209      24   1558      0            3
    36~40     3     0         13      141      35   1275      0           10
    41~45     3     0          6      142      22    957      0            2
    46~50     1     0          7       96       9    551      0            5
    51~55     0     0          1       59      10    387      0            4
    56~60     0     0          1        7       0    129      0            0
    61~65     0     0          0        2       6     15      0            0
    66~70     0     0          0        2       0      4      0            0
    71+       0     0          0        0       0      3      0            0
All         120     6        144     2155     404  15456      1           36

채널명        네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이   웹사이트  유튜브  인스타그램  \
성별  나이
남성  11~13         0          0           2      0      0      0    0      0
    14~16         5          0           4      1      0      2    0      1
    17~19         1          2           3      0      5     27    3     56
    20~25        28        129          58     48    176    986   41   1170
    26~30       113        167         299     86    361   2051  143   1893
    31~35       223        291         296    177    420   1568   75   1620
    36~40       195        426         337    179    529   1008  142   1131
    41~45       191        340         285    153    363    644   24    659
    46~50       112        132         110     69    174    270   71    276
    51~55        42         36          89     23     89    123    9    111
    56~60        20          0          31      1     17     58    3     50
    61~65         1          4          33      8      9      6    0     13
    66~70         3          0           1      0      1      2    0      0
    71+           3          0           5      0      0      0    0      4
여성  14~16         1          0           0      0      0      0    0      1
    17~19         6          1           6      4     14     14    0     22
    20~25        18         57          70     30    166    410    7    674
    26~30        88        180         306    117    482   1235   48   1858
    31~35       194        277         486    124    885   1208   61   1785
    36~40       186        313         380    192    735    834   37   1662
    41~45       178        424         381    154    732    630   17   1149
    46~50       146        189         222    113    666    371   54    688
    51~55        79         48         172     93    292    220   26    389
    56~60        53          7          86     13     58     52   13    110
    61~65        28          2          35     45     24     15    4    147
    66~70         5          0           4      0      0     35    0     46
    71+           2          0           2      0      0      1    0      3
All            1921       3025        3703   1630   6198  11770  778  15518

채널명        트위터  페이스북    All
성별  나이
남성  11~13    0     0     18
    14~16    0     0     19
    17~19    0     0    145
    20~25    0     0   3498
    26~30    0     1   7788
    31~35    0     4   7194
    36~40    0     1   6060
    41~45    0     7   3843
    46~50    0     7   1747
    51~55    0     1    782
    56~60    0     0    286
    61~65    0     0    111
    66~70    0     0     17
    71+      0     0     20
여성  14~16    1     0      6
    17~19    0     0     86
    20~25   10     0   1928
    26~30   10     0   6056
    31~35    7     1   6841
    36~40    8     1   5825
    41~45   18     1   4816
    46~50    1     2   3121
    51~55    0     9   1789
    56~60    0     2    531
    61~65    0     2    325
    66~70    0     0     96
    71+      0     0     11
All         55    39  62959

In [ ]:
channel_df_sum = channel_df.pivot_table(index=['성별', '나이'], columns='채널명', values='고객수', aggfunc='sum', fill_value=0)

channel_df_sum_percentage = channel_df_sum.div(channel_df_sum.sum(axis=1), axis=0) * 100

channel_df_sum_percentage = channel_df_sum_percentage.round(1)

channel_df_sum_percentage

채널명       구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버공통  네이버모바일메인-쇼핑  \
성별 나이
남성 11~13   0.0   0.0        0.0      0.0     0.0   66.7    0.0          0.0
   14~16   0.0   0.0        0.0      0.0     0.0   18.2    0.0          0.0
   17~19   0.0   0.0        0.0      5.2     0.0   29.9    0.0          0.0
   20~25   0.5   0.2        0.2      2.1     1.2   22.6    0.0          0.0
   26~30   0.3   0.0        0.1      2.9     1.5   26.6    0.0          0.0
   31~35   0.3   0.0        0.2      3.9     1.0   25.9    0.0          0.0
   36~40   0.4   0.0        0.2      4.2     2.0   27.0    0.0          0.1
   41~45   0.5   0.0        0.1      3.6     1.3   20.4    0.0          0.0
   46~50   0.6   0.1        0.1      3.4     1.6   21.4    0.0          0.5
   51~55   0.5   0.0        0.0      4.9     3.2   22.0    0.0          0.0
   56~60   0.8   0.0        0.0     10.7     3.1   22.1    0.0          0.0
   61~65   0.0   0.0        0.0      2.9     4.3   18.8    0.0          0.0
   66~70   0.0   0.0        0.0     10.0    10.0   10.0    0.0          0.0
   71+     8.3   0.0        0.0      0.0     8.3   25.0    0.0          0.0
여성 14~16   0.0   0.0        0.0      0.0     0.0   40.0    0.0          0.0
   17~19   0.0   0.0        2.0      2.0     0.0   10.2    0.0          0.0
   20~25   0.2   0.1        1.8      4.2     0.2   16.3    0.0          0.1
   26~30   0.1   0.0        0.3      3.6     0.9   20.6    0.0          0.1
   31~35   0.2   0.0        0.2      2.9     0.7   19.5    0.0          0.1
   36~40   0.1   0.0        0.4      2.6     0.9   18.7    0.0          0.3
   41~45   0.1   0.0        0.3      2.8     0.7   17.8    0.0          0.1
   46~50   0.1   0.0        0.2      2.7     0.6   14.6    0.0          0.2
   51~55   0.0   0.0        0.1      3.1     0.7   16.9    0.0          0.1
   56~60   0.0   0.0        0.4      2.6     0.0   19.2    0.0          0.0
   61~65   0.0   0.0        0.0      1.7     1.7    9.2    0.0          0.0
   66~70   0.0   0.0        0.0      3.8     0.0   15.4    0.0          0.0
   71+     0.0   0.0        0.0      0.0     0.0   14.3    0.0          0.0

채널명       네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별 나이
남성 11~13       0.0        0.0        33.3    0.0    0.0   0.0  0.0    0.0
   14~16      36.4        0.0        18.2    9.1    0.0   9.1  0.0    9.1
   17~19       1.3        2.6         3.9    0.0    5.2  19.5  3.9   28.6
   20~25       1.9        4.4         4.0    2.4    3.8  26.0  2.2   28.5
   26~30       3.0        2.0         7.8    2.2    6.9  23.3  1.5   21.8
   31~35       5.7        4.5         7.8    3.9    7.4  19.1  1.4   18.9
   36~40       5.8        4.6         9.8    4.8   10.7  14.2  1.4   14.7
   41~45       7.7       10.9        11.1    6.6   11.5  13.5  0.8   11.8
   46~50       9.7        6.9         9.5    6.1   11.6  14.0  1.8   12.3
   51~55       7.3        5.6        15.1    5.1   12.7  10.5  2.0   11.0
   56~60       9.2        0.0        15.3    0.8    7.6  14.5  2.3   13.7
   61~65       1.4        2.9        31.9    8.7    7.2   8.7  0.0   13.0
   66~70      30.0        0.0        10.0    0.0   10.0  20.0  0.0    0.0
   71+        25.0        0.0        16.7    0.0    0.0   0.0  0.0   16.7
여성 14~16      20.0        0.0         0.0    0.0    0.0   0.0  0.0   20.0
   17~19       6.1        2.0        12.2    6.1   18.4  22.4  0.0   18.4
   20~25       1.7        4.2         6.6    2.6    9.3  18.3  0.3   33.7
   26~30       2.8        3.8         9.0    3.2    8.8  17.8  0.4   28.3
   31~35       4.9        4.5        11.3    3.0   14.8  15.0  0.7   22.0
   36~40       5.0        4.4        10.7    5.0   13.9  13.0  0.5   24.3
   41~45       5.1        6.9        11.7    5.4   17.1  11.5  0.5   19.7
   46~50       6.9        5.7        11.9    6.2   20.1  11.8  0.6   18.2
   51~55       5.9        3.4        15.3    6.5   21.5   9.4  1.1   14.8
   56~60      13.1        0.9        22.3    4.4   10.9   9.6  0.4   15.3
   61~65      16.7        1.7        19.2    9.2   12.5   5.8  2.5   18.3
   66~70      15.4        0.0        15.4    0.0    0.0  19.2  0.0   30.8
   71+        28.6        0.0        28.6    0.0    0.0  14.3  0.0   14.3

채널명        트위터  페이스북
성별 나이
남성 11~13   0.0   0.0
   14~16   0.0   0.0
   17~19   0.0   0.0
   20~25   0.0   0.0
   26~30   0.0   0.0
   31~35   0.0   0.1
   36~40   0.0   0.0
   41~45   0.0   0.3
   46~50   0.0   0.6
   51~55   0.0   0.2
   56~60   0.0   0.0
   61~65   0.0   0.0
   66~70   0.0   0.0
   71+     0.0   0.0
여성 14~16  20.0   0.0
   17~19   0.0   0.0
   20~25   0.3   0.0
   26~30   0.1   0.0
   31~35   0.2   0.0
   36~40   0.2   0.0
   41~45   0.3   0.0
   46~50   0.1   0.1
   51~55   0.0   1.0
   56~60   0.0   0.9
   61~65   0.0   1.7
   66~70   0.0   0.0
   71+     0.0   0.0

In [ ]:
channel_df_sum = channel_df.pivot_table(index=['성별', '나이'], columns='채널명', values='유입수', aggfunc='sum', fill_value=0)

channel_df_sum_percentage = channel_df_sum.div(channel_df_sum.sum(axis=1), axis=0) * 100

channel_df_sum_percentage = channel_df_sum_percentage.round(1)

channel_df_sum_percentage

채널명       구글검색  기타채널  네이버 모바일메인  네이버 블로그  네이버 카페  네이버검색  네이버공통  네이버모바일메인-쇼핑  \
성별 나이
남성 11~13   0.0   0.0        0.0      0.0     0.0   88.9    0.0          0.0
   14~16   0.0   0.0        0.0      0.0     0.0   31.6    0.0          0.0
   17~19   0.0   0.0        0.0      8.3     0.0   24.8    0.0          0.0
   20~25   0.3   0.1        0.1      3.1     0.5   20.6    0.0          0.0
   26~30   0.2   0.0        0.0      2.9     0.9   30.2    0.0          0.0
   31~35   0.2   0.0        0.1      4.0     0.5   30.2    0.0          0.0
   36~40   0.2   0.0        0.2      4.5     1.0   28.9    0.0          0.0
   41~45   0.9   0.0        0.1      3.5     0.9   25.2    0.0          0.0
   46~50   0.5   0.1        0.3      3.0     1.0   25.1    0.0          0.2
   51~55   0.3   0.0        0.0      4.3     2.2   26.3    0.0          0.0
   56~60   0.3   0.0        0.0     17.8     1.4   17.5    0.0          0.0
   61~65   0.0   0.0        0.0      1.8     2.7   28.8    0.0          0.0
   66~70   0.0   0.0        0.0     35.3    17.6    5.9    0.0          0.0
   71+    10.0   0.0        0.0      0.0     5.0   25.0    0.0          0.0
여성 14~16   0.0   0.0        0.0      0.0     0.0   50.0    0.0          0.0
   17~19   0.0   0.0        5.8      1.2     0.0   15.1    0.0          0.0
   20~25   0.1   0.1        2.6      3.8     0.1   18.5    0.0          0.1
   26~30   0.0   0.0        0.2      3.8     0.5   23.9    0.0          0.1
   31~35   0.1   0.0        0.2      3.1     0.4   22.8    0.0          0.0
   36~40   0.1   0.0        0.2      2.4     0.6   21.9    0.0          0.2
   41~45   0.1   0.0        0.1      2.9     0.5   19.9    0.0          0.0
   46~50   0.0   0.0        0.2      3.1     0.3   17.7    0.0          0.2
   51~55   0.0   0.0        0.1      3.3     0.6   21.6    0.0          0.2
   56~60   0.0   0.0        0.2      1.3     0.0   24.3    0.0          0.0
   61~65   0.0   0.0        0.0      0.6     1.8    4.6    0.0          0.0
   66~70   0.0   0.0        0.0      2.1     0.0    4.2    0.0          0.0
   71+     0.0   0.0        0.0      0.0     0.0   27.3    0.0          0.0

채널명       네이버쇼핑-검색  네이버쇼핑-서비스  네이버쇼핑-통합검색  네이버톡톡  네이버페이  웹사이트  유튜브  인스타그램  \
성별 나이
남성 11~13       0.0        0.0        11.1    0.0    0.0   0.0  0.0    0.0
   14~16      26.3        0.0        21.1    5.3    0.0  10.5  0.0    5.3
   17~19       0.7        1.4         2.1    0.0    3.4  18.6  2.1   38.6
   20~25       0.8        3.7         1.7    1.4    5.0  28.2  1.2   33.4
   26~30       1.5        2.1         3.8    1.1    4.6  26.3  1.8   24.3
   31~35       3.1        4.0         4.1    2.5    5.8  21.8  1.0   22.5
   36~40       3.2        7.0         5.6    3.0    8.7  16.6  2.3   18.7
   41~45       5.0        8.8         7.4    4.0    9.4  16.8  0.6   17.1
   46~50       6.4        7.6         6.3    3.9   10.0  15.5  4.1   15.8
   51~55       5.4        4.6        11.4    2.9   11.4  15.7  1.2   14.2
   56~60       7.0        0.0        10.8    0.3    5.9  20.3  1.0   17.5
   61~65       0.9        3.6        29.7    7.2    8.1   5.4  0.0   11.7
   66~70      17.6        0.0         5.9    0.0    5.9  11.8  0.0    0.0
   71+        15.0        0.0        25.0    0.0    0.0   0.0  0.0   20.0
여성 14~16      16.7        0.0         0.0    0.0    0.0   0.0  0.0   16.7
   17~19       7.0        1.2         7.0    4.7   16.3  16.3  0.0   25.6
   20~25       0.9        3.0         3.6    1.6    8.6  21.3  0.4   35.0
   26~30       1.5        3.0         5.1    1.9    8.0  20.4  0.8   30.7
   31~35       2.8        4.0         7.1    1.8   12.9  17.7  0.9   26.1
   36~40       3.2        5.4         6.5    3.3   12.6  14.3  0.6   28.5
   41~45       3.7        8.8         7.9    3.2   15.2  13.1  0.4   23.9
   46~50       4.7        6.1         7.1    3.6   21.3  11.9  1.7   22.0
   51~55       4.4        2.7         9.6    5.2   16.3  12.3  1.5   21.7
   56~60      10.0        1.3        16.2    2.4   10.9   9.8  2.4   20.7
   61~65       8.6        0.6        10.8   13.8    7.4   4.6  1.2   45.2
   66~70       5.2        0.0         4.2    0.0    0.0  36.5  0.0   47.9
   71+        18.2        0.0        18.2    0.0    0.0   9.1  0.0   27.3

채널명        트위터  페이스북
성별 나이
남성 11~13   0.0   0.0
   14~16   0.0   0.0
   17~19   0.0   0.0
   20~25   0.0   0.0
   26~30   0.0   0.0
   31~35   0.0   0.1
   36~40   0.0   0.0
   41~45   0.0   0.2
   46~50   0.0   0.4
   51~55   0.0   0.1
   56~60   0.0   0.0
   61~65   0.0   0.0
   66~70   0.0   0.0
   71+     0.0   0.0
여성 14~16  16.7   0.0
   17~19   0.0   0.0
   20~25   0.5   0.0
   26~30   0.2   0.0
   31~35   0.1   0.0
   36~40   0.1   0.0
   41~45   0.4   0.0
   46~50   0.0   0.1
   51~55   0.0   0.5
   56~60   0.0   0.4
   61~65   0.0   0.6
   66~70   0.0   0.0
   71+     0.0   0.0