In [ ]:
!pip install dart-fss

In [ ]:
import dart_fss as dart_fss
import pandas as pd

api_key = '852a7d11eaff31427834cceb019daf257a923c33'
dart_fss.set_api_key(api_key=api_key)

In [ ]:
all = dart_fss.api.filings.get_corp_code()

In [ ]:
df = pd.DataFrame(all)

df_listed = df[df['stock_code'].notnull()]
df_non_listed = df[df['stock_code'].isnull()]

In [ ]:
def get_salary(corp_code):
  data = dart_fss.api.info.emp_sttus(corp_code, '2021', '11011')

  df = pd.DataFrame(data['list'])
  df = df[['corp_name','sexdstn','jan_salary_am']]

  df_result = pd.DataFrame()
  doc = {
      '기업명':df.iloc[0,0],
      '연봉(남)':df[df['sexdstn'] == '남'].iloc[0,2],
      '연봉(여)':df[df['sexdstn'] == '여'].iloc[0,2]
  }
  df_result = df_result.append(doc, ignore_index=True)

  df_result['연봉(남)'] = pd.to_numeric(df_result['연봉(남)'].str.replace(',',''))
  df_result['연봉(여)'] = pd.to_numeric(df_result['연봉(여)'].str.replace(',',''))

  return df_result

In [ ]:
corp_codes = list(df_listed.sample(10)['corp_code'])

dfs = []
for corp_code in corp_codes:
  try:
    df = get_salary(corp_code)
    dfs.append(df)
  except:
    print(f'error - {corp_code}')

df_result = pd.concat(dfs)

df_result['차이(남-여)'] = df_result['연봉(남)'] - df_result['연봉(여)']
df_result['평균'] = (df_result['연봉(남)']+df_result['연봉(여)'])/2

df_result.sort_values(by="차이(남-여)",ascending=True)

error - 00814810

<ipython-input-79-5b34c460d59b>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(doc, ignore_index=True)
<ipython-input-79-5b34c460d59b>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(doc, ignore_index=True)
<ipython-input-79-5b34c460d59b>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(doc, ignore_index=True)
<ipython-input-79-5b34c460d59b>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(doc, ignore_index=True)
<ipython-input-79-5b34c460d59b>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(doc, ignore_index=True)
<ipython-input-79-5b34c460d59b>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(doc, ignore_index=True)
<ipython-input-79-5b34c460d59b>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(doc, ignore_index=True)

error - 00636045

<ipython-input-79-5b34c460d59b>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(doc, ignore_index=True)

         기업명     연봉(남)     연봉(여)   차이(남-여)          평균
0      핸디소프트  58903000  55935000   2968000  57419000.0
0      바이옵트로  44000000  38000000   6000000  41000000.0
0      효성오앤비  44716000  32137000  12579000  38426500.0
0  휴니드테크놀러지스  56411000  41209000  15202000  48810000.0
0        네오팜  63000000  47000000  16000000  55000000.0
0       동일금속  60374000  37431000  22943000  48902500.0
0      에치에프알  68000000  44000000  24000000  56000000.0
0        시스웍  78000000  25000000  53000000  51500000.0